* {
   font-family: 'Lexend', sans-serif;
}

form {
    margin: 50px auto; 
    width: 100px; 
    display: flex; 
    justify-content: center;

}

img.loading {
    display: block;
    margin: 50px auto;
}

#div {
    display: flex; 
    flex-wrap: wrap; 
    width: 80%; 
    margin: 0 auto; 
    justify-content: space-between;
    align-content: space-between;
}

.con h1 {
    text-align: center;
}

.meal-container {
    width: 300px;  
}

.image-container > img {
    width: 100%; 
}